html, body, #root {
  width: 100%;
  height: 100%;
}
@import './styles/arena.css';
@import './styles/fighters.css';
@import './styles/fighterPreview.css';
@import './styles/previewContainer.css';
@import './styles/modal.css';
html,
body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

#root {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

img {
    max-width: 100%;
    max-height: 100%;
}

#loading-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    background: rgba(255, 255, 255, 0.7);
    visibility: hidden;
}